@{
    ViewBag.Title = "Julia Hayward";
}

<div class="jumbotron" style="margin: 5px; padding: 16px;">
    <div style="display: flex; flex-direction: row">
        <div>
            <img width="240" src="~/Content/Images/JuliaProfile400x400.jpg" style="margin: 20px;" />
        </div>
        <div>
            <h1>Julia Hayward</h1>
            <p class="lead">Mathematician, senior developer @@redgate, community campaigner, charity trustee, classical musician, backgammoner, parent of 3 students. Sleep? What's that?</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3" style="border: 1px solid black; border-radius: 5px;">
        <h2>Connect with me</h2>
        <p>
            <img src="~/Content/Images/icons8-twitter-circled-48.png" />
            <a href="https://twitter.com/Julia_Hayward" target="_blank">@@Julia_Hayward</a>
        </p>
        <p>
            <img src="~/Content/Images/icons8-linkedin-circled-48.png" />
            Julia on <a href="https://www.linkedin.com/in/julia-hayward-57a19420/" target="_blank">LinkedIn</a>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>